

<div class="panel panel-default"> 
    <div class="panel-heading" style="padding:2px 15px;"> 
        <p class="panel-title">Мы существуем благодаря Вам</p> 
    </div> 
    <div class="panel-body" style="height: 600px;overflow: hidden;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- nf -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7823952112663609"
            data-ad-slot="5878669771"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>      
    </div> 
</div>