

<div class="panel panel-default"> 
    <div class="panel-heading"> 
        <h3 class="panel-title">Реклама</h3> 
    </div> 
    <div class="panel-body" id="last-news" style="height: 300px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- first ad -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3515505406860813"
            data-ad-slot="2888006084"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>          
    </div> 
</div>