<%= render 'manager/shared/menu' %>
<div class="well">
  <div class="page-header">
  <h1>Вас приветствует административная панель <small>По всем вопросам обращайтесь к кому хотите</small></h1>
</div>
</div>