
    .container-fluid-custom-first {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
        .search {
            padding: 20px 5px;
            background-color: #69a6a6;
            width: 8.8%;
            &:hover {
                cursor: pointer;
                .glyphicon-search {
                    color: #777;       
                }
            }
            .glyphicon-search {
                color: #FFF;
                font-size: 22px;
            }
        }
        .logo-area {
            padding: 14px 0;
            text-transform: uppercase;
            .main-logo {
                margin: 0;
                z-index: 2;
                position: absolute;
                right: -20%;
                a {
                    text-decoration: none;
                    color: #33383c;
                }
            }
        }
        .header-profile {
            background-color: #fff;
            padding: 8px 0;
            padding-right: 15px;
            .nav {
                float: right;
                .custom-dropdown-menu {
                    top: 110%;
                    left: -64px;
                }
            }
        }
        .nav-pills {
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }
    
////////////////////////////////////////////

    .navbar {
        background-color: #33383c;
        border-radius: 0;
        border: none;
        position: relative;
        margin-bottom: 0;
        .main-for-mobile {
            position: absolute;
            display: none;
            left: 20px;
            top: 20px;
            color: #9fa0a0;
            text-decoration: none;
            &:hover {
                color: #FFF;
            }
        }
        .container-fluid {
            padding-left: 0;
            .navbar-collapse {
                padding-left: 0;
            }
            .navbar-nav {
                .dropdown {
                    .league {
                        position: relative;
                        .sprite_header {
                            margin: 0 auto;
                            position: absolute;
                            bottom: 23px;
                            left: 38%;
                        }
                        .sprite_hover {
                            display: none;
                        }
                    }
                    .dropdown-toggle {
                        padding-top: 50px;
                        padding-bottom: 10px;
                        color: #9fa0a0;
                        white-space: nowrap;
                        &:hover {
                            background-color: #292f32;
                            color: #FFF;
                            .sprite_hover {
                                display: block;
                            }
                        }
                    }
                    &:first-child {
                        background: #292f32;
                        .dropdown-toggle {
                            padding-top: 25px;
                            .short-logo {
                                font-size: 27px;
                                color: #69a6a6;
                            }
                            &:hover {
                                color: #FFF;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    border: none;
                    border-top: 4px solid #69a6a6;
                    border-radius: 0;
                    width: 175px;
                    padding: 10px 0;
                    background-color: #33383C;
                    li {
                        a {
                            padding: 8px 12px;
                            color: #e7e7e7;
                            i {
                                float: left;
                                margin-right: 8px;
                            }
                            &:hover {
                                background: #1d2123;
                            }
                        }
                    }
                    /////////////////////header teams start
                    
                    .header-teams-wrapper {
                        position: absolute;
                        top: -4px;
                        left: 175px;
                        width: 400px;
                        background-color: #FFF;
                        padding-left: 10px;
                        box-shadow: 7px 0 16px 0 rgba(0,0,0,0.175);
                        padding-bottom: 5px;
                        border-top: 4px solid #69a6a6;
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                        .header-team {
                            position: relative;
                            display: inline-block;
                            white-space: nowrap;
                            padding: 11px 0 11px 0;
                            font-size: 12px;
                            padding-left: 26px;
                            width: 24%;
                            &:hover{text-decoration: underline;}
                            i {
                                margin: 0;
                                position: absolute;
                                top: 15px;
                                left: -15px;
                            }
                        }
                    }
                    /////////////////////header teams end
                }
                .dropdown {
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }   
    }

/////////////////////////////////////////

@media only screen and (min-width: 768px){
    
    .navbar-nav {
    width: 100%;
    text-align: center;
    }
    .navbar-nav > li {
    display: table-cell;
    width: 9%;
    float: none;
    }
    

}

@media only screen and (max-width: 767px) {

    .navbar {
        .main-for-mobile {
            display: block;
        }
        .container-fluid {
            .navbar-nav {
                .dropdown {
                    float: none !important;
                    .dropdown-toggle {
                        margin-left: 85px;
                        &:hover {
                            background-color: #33383c;
                        }
                    }
                }
                .league {
                    .sprite_header {
                        bottom: -5px !important;
                        left: -50px !important;
                    }
                }
                &:last-child {
                    .glyphicon {
                        top: -4px !important;
                        left: -45px !important;
                    }
                }
                .dropdown {
                    &:hover {
                        .dropdown-menu {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .sprite_header {
            left: 33% !important;
    }
}
@media only screen and (max-width: 1050px) {
    .sprite_header {
            left: 29% !important;
    }
}
@media only screen and (max-width: 930px) {
    .sprite_header {
            left: 25% !important;
    }
}

