.videos {
	.index-article-row {
		.row-line-two{
			background: #FFF;
		}
		.paginate-block {background: #FFF;}
	}
	.right-block .row-line-two .three-article:nth-child(3) {
		padding-right: 3px !important;
	}
	.right-block .row-line-two .three-article:nth-child(4) {
		padding-left: 3px !important;
	}
}