.sprite {
    background-image: asset-data-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.icon-small {
    zoom:0.50;
    -moz-transform:scale(0.50);
    margin: 0 auto;
}
.icon-middle {
    -moz-zoom: 0.80;
    -ms-zoom: 0.80;
    zoom: 0.80;
    -moz-transform:scale(0.80);
    margin: 0 auto;
}

.icon-table {
    zoom:0.50;
    -moz-transform:scale(0.50);
    margin: 0 auto;
}

.icon-big {
    zoom:1;
    -moz-transform:scale(1);
    margin: 0 auto;
}

.sprite-Aintraht {
    width: 56px;
    height: 42px;
    background-position: 0 0;
}

.sprite-Auzburg {
    width: 56px;
    height: 42px;
    background-position: -56px 0;
}

.sprite-Bavaria {
    width: 56px;
    height: 42px;
    background-position: -112px 0;
}

.sprite-Bayer {
    width: 56px;
    height: 42px;
    background-position: -168px 0;
}

.sprite-Borussia_D {
    width: 56px;
    height: 42px;
    background-position: -224px 0;
}

.sprite-Borussia_M {
    width: 56px;
    height: 42px;
    background-position: -280px 0;
}

.sprite-Fraiburg {
    width: 56px;
    height: 42px;
    background-position: -336px 0;
}

.sprite-Gerta {
    width: 56px;
    height: 42px;
    background-position: -392px 0;
}

.sprite-Hoffenhain {
    width: 56px;
    height: 42px;
    background-position: -448px 0;
}

.sprite-Keln {
    width: 56px;
    height: 42px;
    background-position: -504px 0;
}

.sprite-Leipzig {
    width: 56px;
    height: 42px;
    background-position: 0 -42px;
}

.sprite-Logo_NF {
    width: 210px;
    height: 31px;
    background-position: -56px -42px;
}

.sprite-Mainz {
    width: 56px;
    height: 42px;
    background-position: -266px -42px;
}

.sprite-Oleksandriya {
    width: 56px;
    height: 42px;
    background-position: -322px -42px;
}

.sprite-alaves {
    width: 56px;
    height: 42px;
    background-position: -378px -42px;
}

.sprite-amkar {
    width: 56px;
    height: 42px;
    background-position: -434px -42px;
}

.sprite-anzhi {
    width: 56px;
    height: 42px;
    background-position: -490px -42px;
}

.sprite-apl {
    width: 32px;
    height: 32px;
    background-position: 0 -84px;
}

.sprite-apl_hover {
    width: 32px;
    height: 32px;
    background-position: -32px -84px;
}

.sprite-arsenal {
    width: 56px;
    height: 42px;
    background-position: -64px -84px;
}

.sprite-arsenal-tula {
    width: 56px;
    height: 42px;
    background-position: -120px -84px;
}

.sprite-articles {
    width: 20px;
    height: 20px;
    background-position: -546px -42px;
}

.sprite-atalanta {
    width: 56px;
    height: 42px;
    background-position: -176px -84px;
}

.sprite-ath_bilbao {
    width: 56px;
    height: 42px;
    background-position: -232px -84px;
}

.sprite-atletico {
    width: 56px;
    height: 42px;
    background-position: -288px -84px;
}

.sprite-barselona {
    width: 56px;
    height: 42px;
    background-position: -344px -84px;
}

.sprite-basel {
    width: 56px;
    height: 42px;
    background-position: -400px -84px;
}

.sprite-basic {
    width: 20px;
    height: 20px;
    background-position: -546px -62px;
}

.sprite-benfica {
    width: 56px;
    height: 42px;
    background-position: -456px -84px;
}

.sprite-besiktash {
    width: 56px;
    height: 42px;
    background-position: -512px -84px;
}

.sprite-bologna {
    width: 56px;
    height: 42px;
    background-position: 0 -126px;
}

.sprite-books {
    width: 32px;
    height: 32px;
    background-position: -56px -126px;
}

.sprite-books_hover {
    width: 32px;
    height: 32px;
    background-position: -88px -126px;
}

.sprite-bournem {
    width: 56px;
    height: 42px;
    background-position: -120px -126px;
}

.sprite-brugge {
    width: 56px;
    height: 42px;
    background-position: -176px -126px;
}

.sprite-bundesliga {
    width: 32px;
    height: 32px;
    background-position: -232px -126px;
}

.sprite-bundesliga_hover {
    width: 32px;
    height: 32px;
    background-position: -264px -126px;
}

.sprite-burnley {
    width: 56px;
    height: 42px;
    background-position: -296px -126px;
}

.sprite-cagliari {
    width: 56px;
    height: 42px;
    background-position: -352px -126px;
}

.sprite-calendar {
    width: 20px;
    height: 20px;
    background-position: -408px -126px;
}

.sprite-chelsea {
    width: 56px;
    height: 42px;
    background-position: -428px -126px;
}

.sprite-chievo {
    width: 56px;
    height: 42px;
    background-position: -484px -126px;
}

.sprite-chornomorets {
    width: 56px;
    height: 42px;
    background-position: 0 -168px;
}

.sprite-cl_hover {
    width: 32px;
    height: 32px;
    background-position: -540px -126px;
}

.sprite-crotone {
    width: 56px;
    height: 42px;
    background-position: -56px -168px;
}

.sprite-crystal {
    width: 56px;
    height: 42px;
    background-position: -112px -168px;
}

.sprite-cska {
    width: 56px;
    height: 42px;
    background-position: -168px -168px;
}

.sprite-darmshtad {
    width: 56px;
    height: 42px;
    background-position: -224px -168px;
}

.sprite-darmstadt {
    width: 56px;
    height: 42px;
    background-position: -280px -168px;
}

.sprite-default-icon {
    width: 48px;
    height: 48px;
    background-position: -336px -168px;
}

.sprite-default_icon {
    width: 32px;
    height: 32px;
    background-position: -540px -158px;
}

.sprite-deportivo {
    width: 56px;
    height: 42px;
    background-position: -384px -168px;
}

.sprite-dynamo {
    width: 56px;
    height: 42px;
    background-position: -440px -168px;
}

.sprite-dynamo_k {
    width: 56px;
    height: 42px;
    background-position: -496px -190px;
}

.sprite-dynamo_z {
    width: 56px;
    height: 42px;
    background-position: 0 -232px;
}

.sprite-eibar {
    width: 56px;
    height: 42px;
    background-position: -56px -232px;
}

.sprite-empoli {
    width: 56px;
    height: 42px;
    background-position: -112px -232px;
}

.sprite-england_another {
    width: 26px;
    height: 17px;
    background-position: -168px -232px;
}

.sprite-espaniol {
    width: 56px;
    height: 42px;
    background-position: -194px -232px;
}

.sprite-europe {
    width: 26px;
    height: 17px;
    background-position: -250px -232px;
}

.sprite-everton {
    width: 56px;
    height: 42px;
    background-position: -276px -232px;
}

.sprite-fiorentina {
    width: 56px;
    height: 42px;
    background-position: -332px -232px;
}

.sprite-foto {
    width: 20px;
    height: 20px;
    background-position: -552px -190px;
}

.sprite-genoa {
    width: 56px;
    height: 42px;
    background-position: -388px -232px;
}

.sprite-germany {
    width: 26px;
    height: 17px;
    background-position: -444px -232px;
}

.sprite-granada {
    width: 56px;
    height: 42px;
    background-position: -470px -232px;
}

.sprite-hamburg {
    width: 56px;
    height: 42px;
    background-position: 0 -274px;
}

.sprite-hull_city {
    width: 56px;
    height: 42px;
    background-position: -56px -274px;
}

.sprite-ingolstad {
    width: 56px;
    height: 42px;
    background-position: -112px -274px;
}

.sprite-inter {
    width: 56px;
    height: 42px;
    background-position: -168px -274px;
}

.sprite-italy {
    width: 26px;
    height: 17px;
    background-position: -526px -232px;
}

.sprite-juventus {
    width: 56px;
    height: 42px;
    background-position: -224px -274px;
}

.sprite-karpaty {
    width: 56px;
    height: 42px;
    background-position: -280px -274px;
}

.sprite-kopengagen {
    width: 56px;
    height: 42px;
    background-position: -336px -274px;
}

.sprite-krasnodar {
    width: 56px;
    height: 42px;
    background-position: -392px -274px;
}

.sprite-kubok-ligi {
    width: 26px;
    height: 17px;
    background-position: -168px -249px;
}

.sprite-laliga {
    width: 32px;
    height: 32px;
    background-position: -526px -249px;
}

.sprite-laliga_hover {
    width: 32px;
    height: 32px;
    background-position: -448px -281px;
}

.sprite-las_palmas {
    width: 56px;
    height: 42px;
    background-position: -480px -281px;
}

.sprite-lazio {
    width: 56px;
    height: 42px;
    background-position: 0 -323px;
}

.sprite-lc {
    width: 32px;
    height: 32px;
    background-position: -536px -281px;
}

.sprite-leganes {
    width: 56px;
    height: 42px;
    background-position: -56px -323px;
}

.sprite-legia {
    width: 56px;
    height: 42px;
    background-position: -112px -323px;
}

.sprite-leicester {
    width: 56px;
    height: 42px;
    background-position: -168px -323px;
}

.sprite-liga-evropi {
    width: 26px;
    height: 17px;
    background-position: -250px -249px;
}

.sprite-liver {
    width: 56px;
    height: 42px;
    background-position: -224px -323px;
}

.sprite-lokomotiv {
    width: 56px;
    height: 42px;
    background-position: -280px -323px;
}

.sprite-ludogorets {
    width: 56px;
    height: 42px;
    background-position: -336px -323px;
}

.sprite-lyon {
    width: 56px;
    height: 42px;
    background-position: -392px -323px;
}

.sprite-malaga {
    width: 56px;
    height: 42px;
    background-position: -448px -323px;
}

.sprite-mc {
    width: 56px;
    height: 42px;
    background-position: -504px -323px;
}

.sprite-midl {
    width: 56px;
    height: 42px;
    background-position: 0 -365px;
}

.sprite-milan {
    width: 56px;
    height: 42px;
    background-position: -56px -365px;
}

.sprite-monaco {
    width: 56px;
    height: 42px;
    background-position: -112px -365px;
}

.sprite-more {
    width: 32px;
    height: 32px;
    background-position: -168px -365px;
}

.sprite-more_hover {
    width: 32px;
    height: 32px;
    background-position: -200px -365px;
}

.sprite-mu {
    width: 56px;
    height: 42px;
    background-position: -232px -365px;
}

.sprite-napoli {
    width: 56px;
    height: 42px;
    background-position: -288px -365px;
}

.sprite-news {
    width: 20px;
    height: 20px;
    background-position: 0 -210px;
}

.sprite-olimpic {
    width: 56px;
    height: 42px;
    background-position: -344px -365px;
}

.sprite-orenburg {
    width: 56px;
    height: 42px;
    background-position: -400px -365px;
}

.sprite-ossasuna {
    width: 56px;
    height: 42px;
    background-position: -456px -365px;
}

.sprite-palermo {
    width: 56px;
    height: 42px;
    background-position: -512px -365px;
}

.sprite-pescara {
    width: 56px;
    height: 42px;
    background-position: 0 -407px;
}

.sprite-play {
    width: 32px;
    height: 32px;
    background-position: -56px -407px;
}

.sprite-play_hover {
    width: 32px;
    height: 32px;
    background-position: -88px -407px;
}

.sprite-porto {
    width: 56px;
    height: 42px;
    background-position: -120px -407px;
}

.sprite-psg {
    width: 56px;
    height: 42px;
    background-position: -176px -407px;
}

.sprite-psv {
    width: 56px;
    height: 42px;
    background-position: -232px -407px;
}

.sprite-rating-uefa {
    width: 20px;
    height: 20px;
    background-position: -20px -210px;
}

.sprite-real_betis {
    width: 56px;
    height: 42px;
    background-position: -288px -407px;
}

.sprite-real_m {
    width: 56px;
    height: 42px;
    background-position: -344px -407px;
}

.sprite-real_sosiedad {
    width: 56px;
    height: 42px;
    background-position: -400px -407px;
}

.sprite-results {
    width: 20px;
    height: 20px;
    background-position: -40px -210px;
}

.sprite-rfpl {
    width: 32px;
    height: 32px;
    background-position: -456px -407px;
}

.sprite-rfpl_hover {
    width: 32px;
    height: 32px;
    background-position: -488px -407px;
}

.sprite-roma {
    width: 56px;
    height: 42px;
    background-position: -56px -439px;
}

.sprite-rostov {
    width: 56px;
    height: 42px;
    background-position: -456px -439px;
}

.sprite-rubin {
    width: 56px;
    height: 42px;
    background-position: -512px -439px;
}

.sprite-russia {
    width: 26px;
    height: 17px;
    background-position: -444px -249px;
}

.sprite-samara {
    width: 56px;
    height: 42px;
    background-position: 0 -481px;
}

.sprite-sampdoria {
    width: 56px;
    height: 42px;
    background-position: -56px -481px;
}

.sprite-sassuolo {
    width: 56px;
    height: 42px;
    background-position: -112px -481px;
}

.sprite-selta {
    width: 56px;
    height: 42px;
    background-position: -168px -481px;
}

.sprite-seltic {
    width: 56px;
    height: 42px;
    background-position: -224px -481px;
}

.sprite-seria_a {
    width: 32px;
    height: 32px;
    background-position: -520px -407px;
}

.sprite-seria_a_hover {
    width: 32px;
    height: 32px;
    background-position: -280px -481px;
}

.sprite-sevilla {
    width: 56px;
    height: 42px;
    background-position: -312px -481px;
}

.sprite-shakhtar {
    width: 56px;
    height: 42px;
    background-position: -368px -481px;
}

.sprite-shalke_04 {
    width: 56px;
    height: 42px;
    background-position: -424px -481px;
}

.sprite-southampton {
    width: 56px;
    height: 42px;
    background-position: -480px -481px;
}

.sprite-spain {
    width: 26px;
    height: 17px;
    background-position: -536px -481px;
}

.sprite-sparak {
    width: 56px;
    height: 42px;
    background-position: 0 -523px;
}

.sprite-sporting {
    width: 56px;
    height: 42px;
    background-position: -56px -523px;
}

.sprite-sporting_l {
    width: 56px;
    height: 42px;
    background-position: -112px -523px;
}

.sprite-sporting_lisabon {
    width: 56px;
    height: 42px;
    background-position: -168px -523px;
}

.sprite-stal {
    width: 56px;
    height: 42px;
    background-position: -224px -523px;
}

.sprite-stoke_city {
    width: 56px;
    height: 42px;
    background-position: -280px -523px;
}

.sprite-sunderland {
    width: 56px;
    height: 42px;
    background-position: -336px -523px;
}

.sprite-swansea {
    width: 56px;
    height: 42px;
    background-position: -392px -523px;
}

.sprite-table {
    width: 20px;
    height: 20px;
    background-position: -60px -210px;
}

.sprite-terek {
    width: 56px;
    height: 42px;
    background-position: -448px -523px;
}

.sprite-tom {
    width: 56px;
    height: 42px;
    background-position: -504px -523px;
}

.sprite-torino {
    width: 56px;
    height: 42px;
    background-position: -560px 0;
}

.sprite-totenhem {
    width: 56px;
    height: 42px;
    background-position: -566px -42px;
}

.sprite-tv {
    width: 20px;
    height: 20px;
    background-position: -568px -84px;
}

.sprite-udineze {
    width: 56px;
    height: 42px;
    background-position: -572px -104px;
}

.sprite-ufa {
    width: 56px;
    height: 42px;
    background-position: -572px -146px;
}

.sprite-ukraine {
    width: 26px;
    height: 17px;
    background-position: -588px -84px;
}

.sprite-upl {
    width: 32px;
    height: 32px;
    background-position: -572px -188px;
}

.sprite-upl_hover {
    width: 32px;
    height: 32px;
    background-position: -558px -220px;
}

.sprite-ural {
    width: 56px;
    height: 42px;
    background-position: -568px -252px;
}

.sprite-valensia {
    width: 56px;
    height: 42px;
    background-position: -568px -294px;
}

.sprite-video {
    width: 20px;
    height: 20px;
    background-position: -408px -146px;
}

.sprite-villareal {
    width: 56px;
    height: 42px;
    background-position: -568px -336px;
}

.sprite-volin {
    width: 56px;
    height: 42px;
    background-position: -568px -378px;
}

.sprite-vorskla {
    width: 56px;
    height: 42px;
    background-position: -568px -420px;
}

.sprite-watford {
    width: 56px;
    height: 42px;
    background-position: -568px -462px;
}

.sprite-werder {
    width: 56px;
    height: 42px;
    background-position: -560px -504px;
}

.sprite-west_brom {
    width: 56px;
    height: 42px;
    background-position: -560px -546px;
}

.sprite-west_ham {
    width: 56px;
    height: 42px;
    background-position: -616px 0;
}

.sprite-wolsburg {
    width: 56px;
    height: 42px;
    background-position: -622px -42px;
}

.sprite-zenit {
    width: 56px;
    height: 42px;
    background-position: -628px -84px;
}

.sprite-zirka {
    width: 56px;
    height: 42px;
    background-position: -628px -126px;
}

.sprite-zorya {
    width: 56px;
    height: 42px;
    background-position: -628px -168px;
}





// sprites for header
.sprite_header {
    background-image: asset-data-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
