.sprite {
    background-image: asset-data-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.icon-small {
    zoom:0.50;
    -moz-transform:scale(0.50);
    margin: 0 auto;
}
.icon-middle {
    -moz-zoom: 0.80;
    -ms-zoom: 0.80;
    zoom: 0.80;
    -moz-transform:scale(0.80);
    margin: 0 auto;
}

.icon-table {
    zoom:0.50;
    -moz-transform:scale(0.50);
    margin: 0 auto;
}

.icon-big {
    zoom:1;
    -moz-transform:scale(1);
    margin: 0 auto;
}

.sprite-Aintraht {
    width: 56px;
    height: 42px;
    background-position: -3px -3px;
}

.sprite-Auzburg {
    width: 56px;
    height: 42px;
    background-position: -65px -3px;
}

.sprite-Bavaria {
    width: 56px;
    height: 42px;
    background-position: -127px -3px;
}

.sprite-Bayer {
    width: 56px;
    height: 42px;
    background-position: -189px -3px;
}

.sprite-Borussia_D {
    width: 56px;
    height: 42px;
    background-position: -251px -3px;
}

.sprite-Borussia_M {
    width: 56px;
    height: 42px;
    background-position: -313px -3px;
}

.sprite-Fraiburg {
    width: 56px;
    height: 42px;
    background-position: -375px -3px;
}

.sprite-Gerta {
    width: 56px;
    height: 42px;
    background-position: -437px -3px;
}

.sprite-Hoffenhain {
    width: 56px;
    height: 42px;
    background-position: -499px -3px;
}

.sprite-Keln {
    width: 56px;
    height: 42px;
    background-position: -561px -3px;
}

.sprite-Leipzig {
    width: 56px;
    height: 42px;
    background-position: -3px -51px;
}

.sprite-Logo_NF {
    width: 210px;
    height: 31px;
    background-position: -65px -51px;
}

.sprite-Mainz {
    width: 56px;
    height: 42px;
    background-position: -281px -51px;
}

.sprite-Oleksandriya {
    width: 56px;
    height: 42px;
    background-position: -343px -51px;
}

.sprite-alaves {
    width: 56px;
    height: 42px;
    background-position: -405px -51px;
}

.sprite-amkar {
    width: 56px;
    height: 42px;
    background-position: -467px -51px;
}

.sprite-anzhi {
    width: 56px;
    height: 42px;
    background-position: -529px -51px;
}

.sprite-apl {
    width: 32px;
    height: 32px;
    background-position: -591px -51px;
}

.sprite-apl_hover {
    width: 32px;
    height: 32px;
    background-position: -65px -89px;
}

.sprite-arsenal {
    width: 56px;
    height: 42px;
    background-position: -3px -99px;
}

.sprite-arsenal-tula {
    width: 56px;
    height: 42px;
    background-position: -103px -99px;
}

.sprite-articles {
    width: 20px;
    height: 20px;
    background-position: -623px -3px;
}

.sprite-atalanta {
    width: 56px;
    height: 42px;
    background-position: -165px -99px;
}

.sprite-ath_bilbao {
    width: 56px;
    height: 42px;
    background-position: -227px -99px;
}

.sprite-atletico {
    width: 56px;
    height: 42px;
    background-position: -289px -99px;
}

.sprite-barselona {
    width: 56px;
    height: 42px;
    background-position: -351px -99px;
}

.sprite-basel {
    width: 56px;
    height: 42px;
    background-position: -413px -99px;
}

.sprite-basic {
    width: 20px;
    height: 20px;
    background-position: -591px -89px;
}

.sprite-benfica {
    width: 56px;
    height: 42px;
    background-position: -475px -99px;
}

.sprite-besiktash {
    width: 56px;
    height: 42px;
    background-position: -537px -115px;
}

.sprite-bologna {
    width: 56px;
    height: 42px;
    background-position: -3px -163px;
}

.sprite-books {
    width: 32px;
    height: 32px;
    background-position: -599px -115px;
}

.sprite-books_hover {
    width: 32px;
    height: 32px;
    background-position: -65px -153px;
}

.sprite-bournem {
    width: 56px;
    height: 42px;
    background-position: -103px -163px;
}

.sprite-brugge {
    width: 56px;
    height: 42px;
    background-position: -165px -163px;
}

.sprite-bundesliga {
    width: 32px;
    height: 32px;
    background-position: -227px -153px;
}

.sprite-bundesliga_hover {
    width: 32px;
    height: 32px;
    background-position: -265px -153px;
}

.sprite-burnley {
    width: 56px;
    height: 42px;
    background-position: -303px -163px;
}

.sprite-cagliari {
    width: 56px;
    height: 42px;
    background-position: -365px -163px;
}

.sprite-calendar {
    width: 20px;
    height: 20px;
    background-position: -617px -89px;
}

.sprite-chelsea {
    width: 56px;
    height: 42px;
    background-position: -427px -163px;
}

.sprite-chievo {
    width: 56px;
    height: 42px;
    background-position: -489px -163px;
}

.sprite-chornomorets {
    width: 56px;
    height: 42px;
    background-position: -551px -163px;
}

.sprite-cl_hover {
    width: 32px;
    height: 32px;
    background-position: -613px -153px;
}

.sprite-crotone {
    width: 56px;
    height: 42px;
    background-position: -3px -211px;
}

.sprite-crystal {
    width: 56px;
    height: 42px;
    background-position: -65px -211px;
}

.sprite-cska {
    width: 56px;
    height: 42px;
    background-position: -127px -211px;
}

.sprite-darmshtad {
    width: 56px;
    height: 42px;
    background-position: -189px -211px;
}

.sprite-darmstadt {
    width: 56px;
    height: 42px;
    background-position: -251px -211px;
}

.sprite-default-icon {
    width: 48px;
    height: 48px;
    background-position: -313px -211px;
}

.sprite-default_icon {
    width: 32px;
    height: 32px;
    background-position: -613px -191px;
}

.sprite-deportivo {
    width: 56px;
    height: 42px;
    background-position: -367px -211px;
}

.sprite-dynamo {
    width: 56px;
    height: 42px;
    background-position: -429px -211px;
}

.sprite-dynamo_k {
    width: 56px;
    height: 42px;
    background-position: -491px -211px;
}

.sprite-dynamo_z {
    width: 56px;
    height: 42px;
    background-position: -553px -229px;
}

.sprite-eibar {
    width: 56px;
    height: 42px;
    background-position: -3px -277px;
}

.sprite-empoli {
    width: 56px;
    height: 42px;
    background-position: -65px -277px;
}

.sprite-england_another {
    width: 26px;
    height: 17px;
    background-position: -615px -229px;
}

.sprite-espaniol {
    width: 56px;
    height: 42px;
    background-position: -127px -277px;
}

.sprite-europe {
    width: 26px;
    height: 17px;
    background-position: -615px -252px;
}

.sprite-everton {
    width: 56px;
    height: 42px;
    background-position: -189px -277px;
}

.sprite-fiorentina {
    width: 56px;
    height: 42px;
    background-position: -251px -277px;
}

.sprite-foto {
    width: 20px;
    height: 20px;
    background-position: -313px -275px;
}

.sprite-genoa {
    width: 56px;
    height: 42px;
    background-position: -339px -277px;
}

.sprite-germany {
    width: 26px;
    height: 17px;
    background-position: -401px -275px;
}

.sprite-granada {
    width: 56px;
    height: 42px;
    background-position: -433px -277px;
}

.sprite-hamburg {
    width: 56px;
    height: 42px;
    background-position: -495px -277px;
}

.sprite-hull_city {
    width: 56px;
    height: 42px;
    background-position: -557px -277px;
}

.sprite-ingolstad {
    width: 56px;
    height: 42px;
    background-position: -3px -325px;
}

.sprite-inter {
    width: 56px;
    height: 42px;
    background-position: -65px -325px;
}

.sprite-italy {
    width: 26px;
    height: 17px;
    background-position: -619px -275px;
}

.sprite-juventus {
    width: 56px;
    height: 42px;
    background-position: -127px -325px;
}

.sprite-karpaty {
    width: 56px;
    height: 42px;
    background-position: -189px -325px;
}

.sprite-kopengagen {
    width: 56px;
    height: 42px;
    background-position: -251px -325px;
}

.sprite-krasnodar {
    width: 56px;
    height: 42px;
    background-position: -313px -325px;
}

.sprite-kubok-ligi {
    width: 26px;
    height: 17px;
    background-position: -401px -298px;
}

.sprite-laliga {
    width: 32px;
    height: 32px;
    background-position: -375px -325px;
}

.sprite-laliga_hover {
    width: 32px;
    height: 32px;
    background-position: -413px -325px;
}

.sprite-las_palmas {
    width: 56px;
    height: 42px;
    background-position: -451px -325px;
}

.sprite-lazio {
    width: 56px;
    height: 42px;
    background-position: -513px -325px;
}

.sprite-lc {
    width: 32px;
    height: 32px;
    background-position: -575px -325px;
}

.sprite-leganes {
    width: 56px;
    height: 42px;
    background-position: -375px -363px;
}

.sprite-legia {
    width: 56px;
    height: 42px;
    background-position: -575px -363px;
}

.sprite-leicester {
    width: 56px;
    height: 42px;
    background-position: -3px -411px;
}

.sprite-liga-evropi {
    width: 26px;
    height: 17px;
    background-position: -619px -298px;
}

.sprite-liver {
    width: 56px;
    height: 42px;
    background-position: -65px -411px;
}

.sprite-lokomotiv {
    width: 56px;
    height: 42px;
    background-position: -127px -411px;
}

.sprite-ludogorets {
    width: 56px;
    height: 42px;
    background-position: -189px -411px;
}

.sprite-lyon {
    width: 56px;
    height: 42px;
    background-position: -251px -411px;
}

.sprite-malaga {
    width: 56px;
    height: 42px;
    background-position: -313px -411px;
}

.sprite-mc {
    width: 56px;
    height: 42px;
    background-position: -375px -411px;
}

.sprite-midl {
    width: 56px;
    height: 42px;
    background-position: -437px -411px;
}

.sprite-milan {
    width: 56px;
    height: 42px;
    background-position: -499px -411px;
}

.sprite-monaco {
    width: 56px;
    height: 42px;
    background-position: -561px -411px;
}

.sprite-more {
    width: 32px;
    height: 32px;
    background-position: -613px -325px;
}

.sprite-more_hover {
    width: 32px;
    height: 32px;
    background-position: -3px -459px;
}

.sprite-mu {
    width: 56px;
    height: 42px;
    background-position: -41px -459px;
}

.sprite-napoli {
    width: 56px;
    height: 42px;
    background-position: -103px -459px;
}

.sprite-news {
    width: 20px;
    height: 20px;
    background-position: -623px -411px;
}

.sprite-olimpic {
    width: 56px;
    height: 42px;
    background-position: -165px -459px;
}

.sprite-orenburg {
    width: 56px;
    height: 42px;
    background-position: -227px -459px;
}

.sprite-ossasuna {
    width: 56px;
    height: 42px;
    background-position: -289px -459px;
}

.sprite-palermo {
    width: 56px;
    height: 42px;
    background-position: -351px -459px;
}

.sprite-pescara {
    width: 56px;
    height: 42px;
    background-position: -413px -459px;
}

.sprite-play {
    width: 32px;
    height: 32px;
    background-position: -475px -459px;
}

.sprite-play_hover {
    width: 32px;
    height: 32px;
    background-position: -513px -459px;
}

.sprite-porto {
    width: 56px;
    height: 42px;
    background-position: -551px -459px;
}

.sprite-psg {
    width: 56px;
    height: 42px;
    background-position: -3px -507px;
}

.sprite-psv {
    width: 56px;
    height: 42px;
    background-position: -65px -507px;
}

.sprite-rating-uefa {
    width: 20px;
    height: 20px;
    background-position: -623px -437px;
}

.sprite-real_betis {
    width: 56px;
    height: 42px;
    background-position: -127px -507px;
}

.sprite-real_m {
    width: 56px;
    height: 42px;
    background-position: -189px -507px;
}

.sprite-real_sosiedad {
    width: 56px;
    height: 42px;
    background-position: -251px -507px;
}

.sprite-results {
    width: 20px;
    height: 20px;
    background-position: -613px -463px;
}

.sprite-rfpl {
    width: 32px;
    height: 32px;
    background-position: -613px -489px;
}

.sprite-rfpl_hover {
    width: 32px;
    height: 32px;
    background-position: -313px -527px;
}

.sprite-roma {
    width: 56px;
    height: 42px;
    background-position: -351px -507px;
}

.sprite-rostov {
    width: 56px;
    height: 42px;
    background-position: -413px -507px;
}

.sprite-rubin {
    width: 56px;
    height: 42px;
    background-position: -475px -507px;
}

.sprite-russia {
    width: 26px;
    height: 17px;
    background-position: -537px -527px;
}

.sprite-samara {
    width: 56px;
    height: 42px;
    background-position: -569px -527px;
}

.sprite-sampdoria {
    width: 56px;
    height: 42px;
    background-position: -3px -575px;
}

.sprite-sassuolo {
    width: 56px;
    height: 42px;
    background-position: -65px -575px;
}

.sprite-selta {
    width: 56px;
    height: 42px;
    background-position: -127px -575px;
}

.sprite-seltic {
    width: 56px;
    height: 42px;
    background-position: -189px -575px;
}

.sprite-seria_a {
    width: 32px;
    height: 32px;
    background-position: -251px -575px;
}

.sprite-seria_a_hover {
    width: 32px;
    height: 32px;
    background-position: -289px -575px;
}

.sprite-sevilla {
    width: 56px;
    height: 42px;
    background-position: -327px -575px;
}

.sprite-shakhtar {
    width: 56px;
    height: 42px;
    background-position: -389px -575px;
}

.sprite-shalke_04 {
    width: 56px;
    height: 42px;
    background-position: -451px -575px;
}

.sprite-southampton {
    width: 56px;
    height: 42px;
    background-position: -513px -575px;
}

.sprite-spain {
    width: 26px;
    height: 17px;
    background-position: -575px -575px;
}

.sprite-sparak {
    width: 56px;
    height: 42px;
    background-position: -575px -598px;
}

.sprite-sporting {
    width: 56px;
    height: 42px;
    background-position: -649px -3px;
}

.sprite-sporting_l {
    width: 56px;
    height: 42px;
    background-position: -643px -51px;
}

.sprite-sporting_lisabon {
    width: 56px;
    height: 42px;
    background-position: -643px -99px;
}

.sprite-stal {
    width: 56px;
    height: 42px;
    background-position: -651px -147px;
}

.sprite-stoke_city {
    width: 56px;
    height: 42px;
    background-position: -651px -195px;
}

.sprite-sunderland {
    width: 56px;
    height: 42px;
    background-position: -651px -243px;
}

.sprite-swansea {
    width: 56px;
    height: 42px;
    background-position: -651px -291px;
}

.sprite-table {
    width: 20px;
    height: 20px;
    background-position: -651px -339px;
}

.sprite-terek {
    width: 56px;
    height: 42px;
    background-position: -649px -365px;
}

.sprite-tom {
    width: 56px;
    height: 42px;
    background-position: -649px -413px;
}

.sprite-torino {
    width: 56px;
    height: 42px;
    background-position: -651px -461px;
}

.sprite-totenhem {
    width: 56px;
    height: 42px;
    background-position: -651px -509px;
}

.sprite-tv {
    width: 20px;
    height: 20px;
    background-position: -677px -339px;
}

.sprite-udineze {
    width: 56px;
    height: 42px;
    background-position: -637px -557px;
}

.sprite-ufa {
    width: 56px;
    height: 42px;
    background-position: -637px -605px;
}

.sprite-ukraine {
    width: 26px;
    height: 17px;
    background-position: -3px -653px;
}

.sprite-upl {
    width: 32px;
    height: 32px;
    background-position: -35px -653px;
}

.sprite-upl_hover {
    width: 32px;
    height: 32px;
    background-position: -73px -653px;
}

.sprite-ural {
    width: 56px;
    height: 42px;
    background-position: -711px -3px;
}

.sprite-valensia {
    width: 56px;
    height: 42px;
    background-position: -705px -51px;
}

.sprite-video {
    width: 20px;
    height: 20px;
    background-position: -705px -99px;
}

.sprite-villareal {
    width: 56px;
    height: 42px;
    background-position: -713px -125px;
}

.sprite-volin {
    width: 56px;
    height: 42px;
    background-position: -713px -173px;
}

.sprite-vorskla {
    width: 56px;
    height: 42px;
    background-position: -713px -221px;
}

.sprite-watford {
    width: 56px;
    height: 42px;
    background-position: -713px -269px;
}

.sprite-werder {
    width: 56px;
    height: 42px;
    background-position: -713px -317px;
}

.sprite-west_brom {
    width: 56px;
    height: 42px;
    background-position: -711px -365px;
}

.sprite-west_ham {
    width: 56px;
    height: 42px;
    background-position: -711px -413px;
}

.sprite-wolsburg {
    width: 56px;
    height: 42px;
    background-position: -713px -461px;
}

.sprite-zenit {
    width: 56px;
    height: 42px;
    background-position: -713px -509px;
}

.sprite-zirka {
    width: 56px;
    height: 42px;
    background-position: -699px -557px;
}

.sprite-zorya {
    width: 56px;
    height: 42px;
    background-position: -699px -605px;
}





// sprites for header
.sprite_header {
    background-image: asset-data-url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
