<%= form_tag search_path, method: :get, class: "navbar-form" do %>
    <div class="form-group">
        <%= text_field_tag :query, params[:query], required: true, class: "form-control search-area", placeholder: "Поиск nafootball.com", autofocus: true %>
    </div>
    <div class="search-button">
        <%= button_tag(type: 'submit', class: "btn-search") do %>
            <i class="glyphicon glyphicon-search"></i>
        <% end %>
    </div>
<% end %>
